TARGET_IOMETE_HOST=<iomete-host>
TARGET_IOMETE_WORKSPACE_ID=<iomete-workspace-id>
TARGET_IOMETE_LAKEHOUSE=<iomete-lakehouse>
TARGET_IOMETE_USER=<iomete-user>
TARGET_IOMETE_PASSWORD=<iomete-password>
TARGET_IOMETE_SCHEMA=<iomete-schema>
TARGET_IOMETE_AWS_ACCESS_KEY=<aws-access-key-id>
TARGET_IOMETE_AWS_SECRET_ACCESS_KEY=<aws-access-secret-access-key>
TARGET_IOMETE_S3_BUCKET=<s3-external-bucket>
TARGET_IOMETE_S3_KEY_PREFIX=<bucket-directory>
TARGET_IOMETE_S3_ACL=<s3-target-acl>